@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Bij</h1>
    <h1 class="display-4">SportStudio Van Dijk</h1>
    <img src="~/IMG/logo_white.svg" />
</div>
