@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Naam</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hans</td>
            </tr>
            <tr>
                <td>Anders</td>
        </tbody>
    </table>
</div>
